body{
    margin: 0;
    padding: 0;
    background-color: #fffbf7;
    
    font-family: 'Lato', sans-serif;
}
h1{
    margin: 10px;
    text-align: center;
    border: 2px solid #7a7a6b;
    border-radius: 7px;
    padding: 15px;
    background-color: #e8e8e8;
}
.container{
    text-align: center;
    margin: 10px;
    background-color: #e8e8e8;
    border-radius: 7px;
}
img{
    padding: 20px;
}
p{
    font-weight: bold;
    padding-bottom: 15px;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    margin:0;
}
